@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
   box-sizing: border-box;
}

html,
body,
#root,
.app {
   height: 100%;
   width: 100%;
   @apply text-sm;
   @apply bg-gray-500;
   @apply text-gray-900;
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
